<!DOCTYPE HTML>
<html>
	<head>
		<title>About - SelectStar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/index1">SelectStar</a></h1>
				<ul class="dropdown button"><i class="icon fa-user">  </i><a href="#">{{username}}</a>
				    <div class="dropdown-content">
				    	<li><a href="#">Profile Edit</a></li>
				      	<li><a href="#">Dashboard</a></li>
				      	<li><a href="/logout">Logout</a></li>
					</div>
				</ul>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/index1">Home</a></li>
					<li><a href="/about1">About</a></li>
					<li><a href="/course1">Course</a></li>
					<li><a href="/task">Task</a></li>
					<li><a href="/custom1">custom Feed In</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About SelectStar</h2>
						<p>"It's not wise to violate rules until you know how to observe them."</p>
					</header>

					<a href="#" class="image fit" style="height: 400px"><img src="static/images/30.png" alt="" /></a>
					<p>What about a completely new approach to learning programming and education in general? Nothing like anything you've seen before. What about learning that has a goal, tools, and results?<br>
					Do you want to know SQL to get a job? The goal is worthy, and the result is not easily achieved (in today's conditions). And the tool is our educational course:  <b>SelectStar</b>. Now let's go into greater detail about all this.</p>
					<h3>SelectStar's goal is for you to be employed</h3>
					<p>Goals are often unattainable because they are too fuzzy, or non-specific. This is particularly noticeable in today's world. If you wanted to learn how to program 20 years ago, you had few choices. You would get a book on programming, whichever one you could find (with difficulty). If you were lucky, it turned out to be a good book. If you were very lucky, you found some courses offered by some club for young engineers. If you met a cool teacher, great. The process is complete. If not, then you had to plow forward on your own or give up.</p>
					<p>An environment with limited information, where information must be chased down and access to it is not 24/7, has its advantages: if you need to learn something, you soak everything up, like a sponge.</p>
					<p>With the development of the Internet, the situation has changed to the complete opposite: information is available in such abundance (especially for newcomers) that identifying what is useful and well-structured is extremely difficult. It is available on the Internet, but finding and choosing what to pay attention to is not an easy job. And even when you've found everything, it's extremely difficult not to become distracted: what if there's something better out there? In addition, the general availability of information leads to an «I'll study later» and «I'll watch that later» mentality. But «later» never comes.</p>
					<p>Accordingly, we can conclude, that in today’s world effective education requires:
							<li>specific and useful information in the first stage</li>
							<li>a developed ability to sift the wheat from the chaff in all other stages</li>
					</p>
					<p>You've found <b>SelectStar</b>. Welcome to the «About us» tab. You're probably interested in learning how to program. These words are very vague. Here at <b>SelectStar</b>, we help form a specific practical skill: the ability to write Query in SQL, so you can work at a professional software development company.
					<br>To us, it is very important not only that you get hired, but also that you are not fired in your first year of work. This requires real skills and experience.
					<br>Once you get a job and work for about a year, you'll grow and progress very quickly, thanks to the very process of doing your job. Here, like with a government job, the main thing is to get in. =)</p>
					<h3>SelectStar tools: what makes this course attractive</h3>
					<p>To develop your Quering skills and the ability to think in the "right" way, you'll need 80-100 hours of practice. The <b>SelectStar</b> course was created specifically to give you this experience. During self-study (and other types of learning), the student faces many obstacles that can be overcome using the <b>SelectStar</b> system.</p>
					<div class="row">
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>There isn't always a time and place to practice.</p>
							<h4>Solution</h4>
							<p>We live in the Internet age, which makes this problem easy to solve: whenever you have time, study on <b>SelectStar</b> wherever you want at a pace you're comfortable with. And you can start any time, even this very second! With <b>SelectStar</b>, you don't need to wait a few weeks or months for a group to form and the course to begin. There's no need to cram yourself into a rigid class schedule or spend a lot of time on the road to get to a meeting place. Just click the «Start learning» button, choose a convenient registration method, and start learning. From any device, whenever you want, at a pace you're comfortable with.</p>
							<hr>
						</div>
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>Self-study makes it hard to think up adequate tasks.</p>
							<h4>Solution</h4>
							<p>This really is much harder than it seems. More often than not, a beginner can't know exactly which skill or combination of skills she needs to hone, and the tasks she takes on are either too difficult or too easy, or «neither here nor there». <b>SelectStar</b> specialists have already taken care of this by putting together 500 tasks that cover all sorts of topics. And you encounter them in the course exactly when you need them!</p>
							<br>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>There's no one to check your solution.</p>
							<h4>Solution</h4>
							<p>Even if your solution to a task makes the correct solution for a single data set, that doesn't mean that it will be okay for another data set. It's quite difficult for newcomers to test their code on their own. At <b>SelectStar</b>, your solution is verified by a virtual teacher, and you get the results instantly.
							<br>This is an advantage over full-time courses, where the teacher often doesn't have time to carefully check whether the students' code is correct, and certainly doesn't have time to check every task if there are many of them.</p>
							<hr>
						</div>
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>If the solution is wrong or not quite right, what do you do next?</p>
							<h4>Solution</h4>
							<p>You've made a mistake, but you don't know what it is exactly. With self-study, this is a serious problem that leads to stagnation. But <b>SelectStar</b> has the answer: a virtual teacher gives recommendations about your solution, helping you fix your mistakes, and also gives you a clear list of requirements regarding what you need to do. It's very convenient and informative.</p>
							<br>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>The Internet has so much information! How can I understand what I need to know?</p>
							<h4>Solution</h4>
							<p>Here we return to the problem that we touched on when explaining our goal. There is a lot of knowledge, and it is very easy for newcomers to «get bogged down» in unnecessary details or to entirely fall by the wayside. In the overwhelming majority of cases, excessive information in the first stage hinders, rather than helps. Therefore, we have included only the most essential things in the course, the things which, if lacking, will prevent you from becoming a SQL Developer|DBA|Data Enginer. The <b>SelectStar</b> course contains 10 very short (and, I must add, not boring!) lessons. Each of them explains one topic, so that the student can focus on that topic without being distracted.
							<br>Of course, we're not opposed to books and third-party materials. If you want to go deeper, go ahead! We even identify and link to additional materials (books, websites, videos) that we feel are helpful.</p>
						</div>
						<div class="6u 12u$(xsmall)">
							<h4>Problem</h4>
							<p>With self-study, it's so easy to lose motivation!</p>
							<h4>Solution</h4>
							<p>No kidding! How often have you started to learn something, but then at some point, you abandon the effort?! This happens if you don't receive a good return: you get stuck on a topic, don't understand whether you're moving in the right direction, don't feel progress, and don't know what to do next. That's why on <b>SelectStar</b>:
								<li>You can skip some tasks to return to them later: instead of «slowing down», you continue making progress without losing motivation;
								<li>There are hints to the correct solution and an online community where you can get practical advice on how to do tasks or help in understanding a topic. 
								<li>There's a bunch of useful (effective!) motivational materials. They run through the whole course;
								<li>Finally, there is a clear plan that you can and should follow.</p>
						</div>
					</div>
				</div>		
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; SelectStar</li>
						<li><a href="http://unsplash.com">Programmers are made, not born.</a>.</li>
					</ul>
				</div>
			</footer>


		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>